:root {
  --coffee: rgb(174, 107, 25);
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-size: 18px;
  text-align: center;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

a {
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.l-inner {
  width: 95%;
  max-width: 1440px;
  margin: 0 auto;
}

.ipad,
.sp {
  display: none;
}

/* header */
header {
  padding: 30px 0;
  width: 100%;
  background-color: white;
  position: fixed;
  box-shadow: 0 8px 16px rgba(0, 0, 0, .1);
  z-index: 1;
}

header .l-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: black;
  font-size: 35px;
}

nav ul {
  display: flex;
  gap: 25px;
}

nav a {
  position: relative;
  text-decoration: none;
  color: gray;
}

nav a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: var(--coffee);
  transition: width 0.3s ease;
}

nav a:hover::after {
  width: 100%;
}

nav a:hover {
  color: #000000;
}

.menu-toggle {
  display: none;
  width: 30px;
}

.burger-icon,
.burger-icon::before,
.burger-icon::after {
  display: inline-block;
  left: 0;
  background-color: #000000;
  height: 3px;
  width: 100%;
  transition: all ease 0.4s;
  border-radius: 3px;
}

.burger-icon {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.burger-icon::before {
  position: absolute;
  top: -8px;
  content: '';
}

.burger-icon::after {
  position: absolute;
  bottom: -8px;
  content: '';
}

/* Transform into X */
.menu-toggle.open .burger-icon {
  background-color: transparent;
}

.menu-toggle.open .burger-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.menu-toggle.open .burger-icon::after {
  transform: rotate(-45deg);
  bottom: 0;
}

/* header */

/* home */
.home .l-inner {
  background: url(../images/background-header.jpeg) no-repeat center/cover;
  margin: 0 auto;
}

.home .text-container {
  color: white;
  text-align: center;
  line-height: 30px;
  padding: 100px 0;
}

.home .text-container h2 {
  font-size: 56px;
}

.home .text-container p {
  padding: 40px 0;
}

.home a {
  padding: 24px;
  background-color: white;
  color: black;
  border: none;
  text-decoration: none;
}

.home a:hover {
  cursor: pointer;
  background-color: rgb(236, 235, 235);
  transition: background-color 0.3s ease;
}

/* home */

/* about */
.about {
  text-align: center;
  width: 600px;
  margin: 0 auto;
}

.about h3 {
  font-size: 24px;
  padding: 85px 0 45px;
}

.about p {
  color: gray;
  padding-bottom: 48px;
}

/* about */

/* featured and more products */
.featured-mugs .title,
.more-products .title {
  color: gray;
  position: relative;
  margin: 0 auto;
  padding: 48px 0;
  width: 13.889vw;
}

.title::before,
.title::after {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--coffee);
}

.title::before {
  left: 100%;
}

.title::after {
  right: 100%;
}

.product-container {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding: 48px 0;
  flex-wrap: wrap;
}

.product-container div {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.product-container div.loaded {
  opacity: 1;
  transform: translateY(0);
}

.product-container img {
  width: 400px;
  height: 300px;
  object-fit: cover;
  transition: filter 0.3s ease;
}

.product-container img:hover {
  cursor: pointer;
}

.explore-products {
  opacity: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  background-color: white;
  border: none;
  height: 50px;
  font-size: medium;
  font-family: sans-serif;
  letter-spacing: 2px;
}

.explore-products:hover {
  cursor: pointer;
  background-color: rgb(236, 235, 235);
}

.name {
  font-size: 24px;
}

.price {
  color: gray;
}

.new-price {
  color: var(--coffee);
  font-size: 20px;
}

.old-price {
  margin-left: 8px;
  color: gray;
}

.discount {
  position: absolute;
  background: white;
  color: var(--coffee);
  top: 0;
  left: 75%;
  padding: 8px;
  font-weight: bold;
  font-size: 20px;
}

/* featured and more products */

/* coffee magazine */
.coffee-magazine {
  padding-bottom: 48px;
}

.coffee-magazine .title {
  color: gray;
  position: relative;
  margin: 0 auto;
  padding: 48px 0;
  width: 32.986vw;
}

.coffee-magazine .offer {
  display: flex;
  gap: 44px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.coffee-magazine .offer.loaded {
  opacity: 1;
  transform: translateY(0);
}

.coffee-magazine .text-container {
  width: 400px;
}

.coffee-magazine .text-container p {
  text-align: left;
}

.coffee-magazine .text-container h4 {
  font-weight: 700;
  text-align: center;
  padding: 16px 0 8px;
}

.coffee-magazine .offer .text-container button {
  background-color: black;
  color: white;
  padding: 16px;
  border: transparent;
}

.coffee-magazine .offer .text-container button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.783);
}

.coffee-magazine .image-container {
  display: flex;
  gap: 16px;
}

.coffee-magazine .image-container .big-pic {
  height: 316px;
}

.coffee-magazine .image-container .small-pic {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.coffee-magazine .image-container .first-small,
.coffee-magazine .image-container .sec-small {
  height: 150px;
}

/* coffee magazine */

/* parallex */
.sc-parallax {
  background: url('../images/coffee-parallex.jpeg')no-repeat center / cover;
  background-attachment: fixed;
  margin-top: 48px;
  margin-bottom: 48px;
}

.sc-parallax .reveal {
  height: 340px;
}

/* parallex */

/* articles */
.article-container .title {
  color: gray;
  position: relative;
  margin: 0 auto;
  padding: 48px 0;
  width: 27.778vw;
  margin-bottom: 32px;
}

.article-container .articles {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin: auto;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
  flex-wrap: wrap;
}

.article-container .articles.loaded {
  opacity: 1;
  transform: translateY(0);
}

.first-article,
.second-article,
.third-article {
  width: 300px;
  position: relative;
}

.article-container .articles a:hover {
  cursor: pointer;
  color: var(--coffee);
  transition: color 0.3s ease;
}

.readmore-container img {
  height: 300px;
  width: 300px;
  object-fit: cover;
}

.readmore-container img:hover {
  cursor: pointer;
}

.first-article .read-more,
.second-article .read-more,
.third-article .read-more {
  left: 50%;
  transform: translateX(-50%);
}

.read-more {
  opacity: 0;
  position: absolute;
  bottom: 40%;
  width: 250px;
  background-color: white;
  border: none;
  height: 50px;
  font-size: 18px;
  font-family: sans-serif;
  letter-spacing: 2px;
  transform: translateY(-39%);
}

.read-more:hover {
  cursor: pointer;
  background-color: rgb(236, 235, 235);
}

.article-container .article-title {
  color: black;
  font-size: 24px;
  text-decoration: none;
  padding: 12px 0;
}

.article-container .sub-title {
  text-align: left;
  color: gray;
  padding-bottom: 12px;
}

.article-container .date {
  text-align: left;
}

/* articles */

/* subscribe */
.subscribe {
  color: white;
  text-align: center;
  margin-top: 80px;
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1s, transform 1s;
}

.subscribe.loaded {
  opacity: 1;
  transform: translate(0);
}

.subscribe .l-inner {
  background-color: #000000;
  padding: 64px 0;
}

.subscribe .title {
  color: gray;
  position: relative;
  margin: 0 auto;
  width: 26.389vw;
}

.subscribe p {
  font-size: 36px;
  padding: 25px 0;
}

.subscribe #email-input {
  width: 400px;
  height: 49px;
  background-color: black;
  border: .1px solid rgb(45, 45, 45);
  color: white;
}

.subscribe #email-input:hover {
  border: .1px solid gray;
  transition: border-color 0.4s ease;
}

.subscribe #sub-btn {
  background-color: white;
  padding: 16px;
  border: none;
}

.subscribe #sub-btn:hover {
  cursor: pointer;
  background-color: rgb(236, 235, 235);
  transition: background-color 0.3s ease;
}

.thank-you p {
  font-size: 16px;
  letter-spacing: 2.5px;
}

/* subscribe */

/* footer */
footer {
  padding: 80px 0;
  gap: 80px;
  flex-wrap: wrap;
  text-align: left;
}

footer .l-inner {
  display: flex;
  justify-content: space-between;
}

footer p {
  color: gray;
}

footer .foot-links {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

footer .menu,
footer .follow-us,
footer .contact-info {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

footer .heading {
  font-size: 24px;
  color: rgb(61, 57, 57);
  padding-bottom: 15px;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:hover {
  color: var(--coffee);
  transition: color 0.5s ease;
}

/* footer */

/* make responsive */
@media screen and (min-width: 640px) and (max-width: 900px) {

  body {
    font-size: 2.344vw;
  }

  .l-inner {
    max-width: 91.146vw;
  }

  .ipad {
    display: block;
  }

  /* header */
  header {
    padding: 3.125vw;
    box-shadow: 0 1.042vw 2.083vw rgba(0, 0, 0, .1);
  }

  .logo {
    font-size: 4.557vw;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 8.464vw;
    left: 0;
    padding: 6.51vw 0;
    gap: 3.906vw;
    transform: translateX(130.208vw);
    transition: transform 0.7s ease;
  }

  nav.show ul {
    transform: translateX(0);
  }

  nav a::after {
    display: none;
  }

  .menu-toggle {
    display: block;
    width: 3.906vw;
  }

  .burger-icon,
  .burger-icon::before,
  .burger-icon::after {
    height: 0.391vw;
  }

  .burger-icon::before {
    top: -1.042vw;
  }

  .burger-icon::after {
    bottom: -1.042vw;
  }

  /* header */

  /* home */
  .home .text-container {
    line-height: 3.906vw;
    padding: 13.021vw 0;
  }

  .home .text-container h2 {
    font-size: 7.292vw;
  }

  .home .text-container p {
    padding: 5.208vw 0;
  }

  .home a {
    padding: 2.335vw;
  }

  /* home */

  /* about */
  .about {
    width: 78.125vw;
  }

  .about h3 {
    font-size: 3.125vw;
    padding: 11.068vw 0 5.859vw;
  }

  .about p {
    padding-bottom: 6.25vw;
  }

  /* about */

  /* featured and more products */
  .featured-mugs .title,
  .more-products .title {
    padding: 6.25vw 0;
  }

  .title::before,
  .title::after {
    width: 13.021vw;
  }

  .product-container {
    gap: 3.125vw;
    padding: 6.25vw 0;
  }

  .product-container div {
    transform: translateY(6.51vw);
  }

  .product-container img {
    width: 42.969vw;
    height: 39.063vw;
  }

  .explore-products {
    width: 39.063vw;
    height: 6.51vw;
    letter-spacing: 0.26vw;
  }

  .name {
    font-size: 3.125vw;
  }

  .new-price {
    font-size: 2.604vw;
  }

  .old-price {
    margin-left: 1.042vw;
    font-size: 2.083vw;
  }

  .discount {
    padding: 1.042vw;
    font-size: 2.604vw;
  }

  /* featured and more products */

  /* coffee magazine */
  .coffee-magazine {
    padding-bottom: 6.25vw;
  }

  .coffee-magazine .title {
    padding: 6.51vw 0;
  }

  .coffee-magazine .offer {
    margin-top: 4.557vw;
    gap: 5.729vw;
    transform: translateY(6.51vw);
  }

  .coffee-magazine .text-container {
    width: 52.083vw;
  }

  .coffee-magazine .text-container h4 {
    padding: 2.083vw 0 1.042vw;
  }

  .coffee-magazine .offer .text-container button {
    padding: 1.583vw;
  }

  .coffee-magazine .image-container {
    gap: 2.083vw;
  }

  .coffee-magazine .image-container .big-pic {
    height: 41.146vw;
  }

  .coffee-magazine .image-container .small-pic {
    gap: 2.083vw;
  }

  .coffee-magazine .image-container .first-small,
  .coffee-magazine .image-container .sec-small {
    height: 19.531vw;
  }

  /* coffee magazine */

  /* parallex */
  .sc-parallax {
    margin-top: 6.25vw;
    margin-bottom: 6.25vw;
  }

  .sc-parallax .reveal {
    height: 44.271vw;
  }

  /* parallex */

  /* articles */
  .article-container .title {
    padding: 6.25vw 0;
    margin-bottom: 4.167vw;
  }

  .article-container .articles {
    gap: 3.125vw;
    transform: translateY(6.51vw);
  }

  .first-article,
  .second-article,
  .third-article {
    width: 39.063vw;
  }

  .readmore-container img {
    height: 39.063vw;
    width: 39.063vw;
  }

  .read-more {
    width: 32.552vw;
    height: 6.51vw;
    letter-spacing: 0.26vw;
  }

  .article-container .article-title {
    font-size: 3.125vw;
    padding: 1.563vw 0;
  }

  .article-container .sub-title {
    padding-bottom: 1.563vw;
  }

  /* articles */

  /* subscribe */
  .subscribe {
    margin-top: 10.417vw;
    transform: translateY(6.51vw);
  }

  .subscribe .l-inner {
    padding: 8.333vw 0;
  }

  .subscribe p {
    font-size: 4.688vw;
    padding: 3.255vw 0;
  }

  .subscribe #email-input {
    width: 52.083vw;
    height: 6.38vw;
  }

  .subscribe #sub-btn {
    padding: 2.083vw;
  }

  .thank-you p {
    font-size: 2.083vw;
    letter-spacing: 0.326vw;
  }

  /* subscribe */

  /* footer */
  footer {
    padding: 10.417vw 0;
    gap: 10.417vw;
  }

  footer .foot-links {
    gap: 5.078vw;
  }

  footer .menu,
  footer .follow-us,
  footer .contact-info {
    gap: 0.781vw;
  }

  footer .heading {
    font-size: 2.865vw;
    padding-bottom: 1.953vw;
  }

  footer a {
    font-size: 2.083vw;
  }

  /* footer */
}

@media screen and (max-width: 639.9px) {
  body {
    font-size: 4.267vw;
  }

  .l-inner {
    max-width: 104vw;
  }

  .sp {
    display: block;
  }

  /* header */
  header {
    box-shadow: 0 2.134vw 4.266vw rgba(0, 0, 0, .1);
  }

  .logo {
    font-size: 8vw;
  }

  nav ul {
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: #fff;
    top: 17.334vw;
    left: 0;
    padding: 13.333vw 0;
    gap: 7.999vw;
    transform: translateX(266.666vw);
    transition: transform 0.7s ease;
  }

  nav.show ul {
    transform: translateX(0);
  }

  nav a::after {
    display: none;
  }

  .menu-toggle {
    display: block;
    width: 6.667vw;
  }

  .burger-icon,
  .burger-icon::before,
  .burger-icon::after {
    height: 0.533vw;
  }

  .burger-icon::before {
    top: -2.134vw;
  }

  .burger-icon::after {
    bottom: -2.134vw;
  }

  /* header */

  /* home */
  .home .text-container {
    line-height: 7.999vw;
    padding: 26.667vw 0.8vw;
  }

  .home .text-container h2 {
    font-size: 13.333vw;
  }

  .home .text-container p {
    padding: 10.133vw 0;
  }

  .home a {
    padding: 2.667vw;
  }

  /* home */

  /* about */
  .about {
    width: 80vw;
  }

  .about h3 {
    font-size: 6.4vw;
    padding: 22.667vw 0 11.999vw;
  }

  .about p {
    padding-bottom: 12.8vw;
  }

  /* about */

  /* featured and more products */
  .featured-mugs .title,
  .more-products .title {
    padding: 12.8vw 0;
    width: 26.667vw;
  }

  .title::before,
  .title::after {
    width: 18.667vw;
  }

  .product-container {
    gap: 6.4vw;
    padding: 12.8vw 0;
  }

  .product-container div {
    transform: translateY(13.333vw);
  }

  .product-container img {
    width: 88.001vw;
    height: 80.001vw;
  }

  .explore-products {
    width: 80.001vw;
    height: 13.333vw;
    letter-spacing: 0.533vw;
  }

  .name {
    font-size: 5.333vw;
  }

  .new-price {
    font-size: 4.8vw;
  }

  .old-price {
    margin-left: 2.134vw;
    font-size: 4.267vw;
  }

  .discount {
    padding: 2.134vw;
    font-size: 5.333vw;
    top: 1.333vw;
    left: 71%;
  }

  /* featured and more products */

  /* coffee magazine */
  .coffee-magazine {
    padding-bottom: 12.8vw;
  }

  .coffee-magazine .title {
    padding: 13.333vw 0;
    width: 41.333vw;
  }

  .coffee-magazine .offer {
    margin-top: 9.333vw;
    gap: 11.733vw;
    transform: translateY(13.333vw);
  }

  .coffee-magazine .text-container {
    width: 106.666vw;
  }

  .coffee-magazine .text-container h4 {
    padding: 4.266vw 0 2.134vw;
  }

  .coffee-magazine .offer .text-container button {
    padding: 3.242vw;
  }

  .coffee-magazine .image-container {
    gap: 0;
    flex-wrap: wrap;
  }

  .coffee-magazine .image-container .big-pic {
    height: 77.333vw;
    width: 100%;
    object-fit: cover;
  }

  .coffee-magazine .image-container .small-pic {
    gap: 0;
    width: 100%;
    flex-direction: row;
  }

  .coffee-magazine .image-container .first-small,
  .coffee-magazine .image-container .sec-small {
    height: 44.533vw;
    width: 50%;
    object-fit: cover;
  }

  /* coffee magazine */

  /* parallex */
  .sc-parallax {
    display: none;
  }
  /* parallex */

  /* articles */
  .article-container .title {
    padding: 12.8vw 0;
    margin-bottom: 8.534vw;
    width: 40.533vw;
  }

  .article-container .articles {
    gap: 6.4vw;
    justify-content: unset;
    width: 100%;
    transform: translateY(13.333vw);
  }

  .first-article,
  .second-article,
  .third-article {
    width: 100%;
  }

  .readmore-container img {
    height: 80.001vw;
    width: 100%;
  }

  .read-more {
    width: 66.666vw;
    height: 13.333vw;
    font-size: 4.267vw;
    letter-spacing: 0.533vw;
  }

  .article-container .article-title {
    font-size: 6.4vw;
    padding: 3.201vw 0;
    text-align: left;
  }

  .article-container .sub-title {
    padding-bottom: 3.201vw;
  }

  /* articles */

  /* subscribe */
  .subscribe {
    margin-top: 21.334vw;
    transform: translateY(13.333vw);
  }

  .subscribe .title {
    width: 38.667vw;
  }

  .subscribe .l-inner {
    padding: 17.066vw 0;
  }

  .subscribe p {
    font-size: 8.8vw;
    padding: 6.666vw 0;
  }

  .subscribe #email-input {
    width: 90%;
    height: 13.066vw;
  }

  .subscribe #sub-btn {
    padding: 4.266vw;
    margin-top: 4.267vw;
  }

  .thank-you p {
    font-size: 4.266vw;
    letter-spacing: 0.668vw;
  }

  /* subscribe */

  /* footer */
  footer {
    padding: 16vw 0;
    gap: 0;
  }

  footer .l-inner {
    flex-wrap: wrap;
    gap: 8vw;
  }

  footer .foot-links {
    gap: 6.667vw;
  }

  footer .menu,
  footer .follow-us,
  footer .contact-info {
    gap: 1.599vw;
  }

  footer .heading {
    font-size: 5.333vw;
    padding-bottom: 1.867vw;
  }

  footer a {
    font-size: 3.733vw;
  }

  /* footer */
}